<div class="text-center">

  <h2>パスワードを変更してください</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <%# フォームを真ん中にするbootstrapを適用 %>
    <div class="form-group mx-auto" style="width: 400px;">
      <%= f.label :password, "New password", class: "sr-only" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "Password" %>
    </div>

    <%# フォームを真ん中にするbootstrapを適用 %>
    <div class="form-group mx-auto" style="width: 400px;">
      <%= f.label :password_confirmation, "Confirm new password", class: "sr-only" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password_confirmation" %>
    </div>

    <%# フォームを真ん中にするbootstrapを適用 %>
    <div class="actions mx-auto" style="width: 400px;">
      <%= f.submit "パスワードを変更する", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  <% end %>

  <%# _links.html.erbを表示 %>
  <%= render "devise/shared/links" %>

</div>
