<div class="text-center">

  <h2>パスワードをお忘れですか？</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <%# フォームを真ん中にするbootstrapを適用 %>
    <div class="form-group mx-auto" style="width: 400px;">
      <%= f.label :email, class: "sr-only" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address" %>
    </div>

    <%# フォームを真ん中にするbootstrapを適用 %>
    <div class="actions mx-auto" style="width: 400px;">
      <%= f.submit "送信", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  <% end %>

  <%# _links.html.erbを表示 %>
  <%= render "devise/shared/links" %>

</div>
